# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Build outputs
dist/
build/
coverage/

# Environment & secrets
.env
.env.local
.env.*.local

# OS files
.DS_Store

# Logs
logs/
*.log